img {
    border-radius : 8px;
}
.top {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.myImage {
     margin-right: 10% ;
}
header {
    justify-content: center;
    align-items: center;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: block;
    min-width: 100%;
}
.navList {
    display: inline;
    float: right;
    padding: 5px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.navItem {
    text-decoration: none;
    color: black;
}
html {
    background-image: url("cool-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body {
    text-align: center;
}
li {
    font-size: 25px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
}
a:hover {
    font-size: 27px;
}
iframe {
    width: 500px;
    height: 400px;
}
.contact {
    background-color: #30363d  !important;
    color: white !important; 
}
.listItem {
    float: center;
    padding: 5px;
    color: white !important;
}